Repository discordjs/discord.js-modules, pull requests merged in 2021-12, with the labels that each got.

#77 feat(RateLimits): optionally error on ratelimits
  packages/rest/__tests__/RequestHandler.test.ts
  packages/rest/src/index.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/RateLimitError.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
Labels: semver:minor, rest

#84 fix(Cdn): make parameters immutable
  packages/rest/src/lib/CDN.ts
Labels: semver:major, rest, types

#86 fix(CDN): use correct types
  packages/rest/src/lib/CDN.ts
Labels: semver:patch, rest, types

#88 chore(RequestManager): use new file upload format
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
Labels: semver:minor, rest

#85 feat(Rest): add response and request events
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
  packages/rest/src/lib/utils/constants.ts
Labels: semver:minor, rest

#78 feat(SequentialHandler): add more info to debug when rate limit was hit
  packages/rest/src/lib/handlers/SequentialHandler.ts
Labels: semver:minor, rest

#89 chore(Deps): update `@sapphire/snowflake` to `^3.0.0`
  packages/rest/package.json
  yarn.lock
Labels: semver:patch, dependencies

#93 feat(Rest): add support for oauth2 endpoints
  packages/rest/__tests__/DiscordAPIError.test.ts
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/RequestManager.ts
  packages/rest/src/lib/errors/DiscordAPIError.ts
  packages/rest/src/lib/handlers/SequentialHandler.ts
Labels: semver:minor, rest
