Repository discordjs/discord.js-modules, pull requests merged in 2021-10, with the labels that each got.

#62 feat(REST): change api version to v9
  packages/rest/__tests__/DiscordAPIError.test.ts
  packages/rest/__tests__/REST.test.ts
  packages/rest/src/lib/REST.ts
  packages/rest/src/lib/utils/constants.ts
Labels: semver:major, rest

#61 refactor(RatelimitData): rename to RateLimitData
  packages/rest/src/lib/REST.ts
Labels: semver:major

#64 feat(CDN): add role icon endpoint
  packages/rest/__tests__/CDN.test.ts
  packages/rest/src/lib/CDN.ts
Labels: semver:minor, rest
